@mixin addNoteStylesheet($class-name: 'addNote', $base-unit: 15px) {
  .#{$class-name} {
    width: 100%;
    line-height: 3 * $base-unit;
    cursor: text;

    &__input {
      height: 3 * $base-unit;
      background-color: transparent;
      font: inherit;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
    &__buttons {
      float: right;
      > * {
        margin-left: 5px;
      }
    }
  }
}
