@mixin addNoteStylesheet($class-name: 'addNote', $base-unit: 15px) {
  .#{$class-name} {
    line-height: 3 * $base-unit;
    cursor: text;
    &__buttons {
      float: right;

      > * {
        margin-left: 5px;
      }
    }
  }
}
