@mixin dropdownStylesheet($font-family: 'Arial, sans-serif') {
  .dropdown {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    &_keep-width &__options {
      width: auto;
      padding: 0;
    }

    &__input {
      box-sizing: border-box;
      width: 100%;
      padding: 0.4em 0;
      padding-right: 30px;
      font-size: 0.95em;
      border: none;
      outline: none;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
      &:focus {
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
      }
      &:disabled {
        color: #000;
      }
      &_invalid {
        box-shadow: 0 1px 0 #c4392d;
        &:focus {
          box-shadow: 0 2px 0 #c4392d;
        }
      }
    }
    &__substitute-of-input {
      min-width: 75px;
      padding: 0.5em 0;
      padding-right: 30px;
      color: #000;
      font-size: 0.95em;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    &__drop-button {
      position: absolute;
      top: 0;
      right: 0;
    }
    &__options {
      position: absolute;
      width: 100%;
      padding: 5px 0;
      background: #fff;
      box-shadow: (
        0 1px 5px rgba(0, 0, 0, 0.133),
        inset 0 -1px 2px rgba(0, 0, 0, 0.266)
      );
      z-index: 5;
    }
  }
}
