@mixin noteStylesheet(
  $class-name: 'note',
  $base-unit: 15px,
  $no-padding-icon-size: 22px,
  $smaller-base-unit: 11px,
  $icon-font-name: IconFont,
  $notification-base-unit: 7px
) {
  .#{$class-name} {
    padding-top: $base-unit;
    padding-bottom: 0.5 * $base-unit;
    cursor: default;

    &__check,
    &__cornerButtons,
    &__buttons {
      opacity: 0;
    }

    *:hover > &,
    &_interacting,
    &_focused {
      .#{$class-name}__check,
      .#{$class-name}__cornerButtons,
      .#{$class-name}__buttons {
        opacity: 1;
      }
    }

    &__check {
      position: absolute;
      top: 3px + -$no-padding-icon-size / 2;
      left: 3px + -($base-unit + $no-padding-icon-size / 2);
    }
    &__cornerButtons {
      position: absolute;
      top: 0.5 * $base-unit;
      right: 0;
      margin-bottom: 0;
    }
    &__header {
      box-sizing: border-box;
      padding-right: 3 * $smaller-base-unit;
      width: 100%;
      border: none;
      font-family: inherit;
      font-size: 16px;
      font-weight: bold;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    &__list {
      margin: 0 #{-$base-unit};
    }
    &__markedList {
      padding-top: $base-unit;
      border-top: 1px solid rgba(0, 0, 0, 0.13);
      color: rgba(0, 0, 0, 0.46);
      font-size: 14px;
      font-weight: normal;
      vertical-align: middle;
      i {
        display: inline-block;
        width: $no-padding-icon-size;
        height: $no-padding-icon-size;
        line-height: $no-padding-icon-size;
        margin-left: 0.5 * $base-unit;
        margin-right: 0.25 * $base-unit;
        text-align: center;
        font-family: $icon-font-name;
        font-size: 10px;
        cursor: pointer;
      }
    }
    &__markedList &__list textarea {
      color: rgba(0, 0, 0, 0.3);
      text-decoration: line-through;
    }
    &__info {
      position: relative;
      height: 3 * $notification-base-unit + 4px;
      line-height: 3 * $notification-base-unit;
      vertical-align: middle;
    }
    &__creationTime {
      position: absolute;
      right: 0;
      text-align: right;
    }
    &__buttons {
      margin-bottom: 0;
      margin-left: -$base-unit / 2;
      > * {
        position: relative;
        margin-right: 1.3 * $base-unit;
      }
    }
    &__button {
      float: right;
      margin-right: 0;
    }
    > * {
      margin-bottom: 1.5 * $base-unit;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & &__info {
      margin-bottom: $base-unit;
    }
  }
}
