@mixin noteStylesheet(
  $class-name: 'note',
  $base-unit: 15px,
  $label-base-unit: 7px,
  $no-padding-icon-size: 22px,
  $smaller-base-unit: 11px,
  $icon-font-name: IconFont,
  $background-color: #fff,
  $border-color: rgba(0, 0, 0, 0.133)
) {
  .#{$class-name} {
    position: relative;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    padding: $base-unit $base-unit 0.5 * $base-unit;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    outline: none;

    color: #888;
    font-size: 16px;
    font-weight: bold;

    cursor: default;

    &:hover,
    &_focused {
      box-shadow: (
        0 1px 5px rgba(0, 0, 0, 0.133),
        inset 0 -1px 2px rgba(0, 0, 0, 0.266)
      );
    }
    &_selected {
      border: 2px solid #000;
    }
    &:not(:hover):not(&_focused):not(&_interacting):not(&_selected) {
      .#{$class-name}__check {
        opacity: 0;
      }
    }
    &:not(:hover):not(&_focused):not(&_interacting) {
      .#{$class-name}__buttons,
      .#{$class-name}__cornerButtons {
        opacity: 0;
      }
    }
    &_mode {
      &-selection {
        .#{$class-name}__buttons {
          visibility: hidden;
        }
      }
    }

    &__check {
      position: absolute;
      top: 3px + -$no-padding-icon-size / 2;
      left: 3px + -($no-padding-icon-size / 2);
    }
    &__cornerButtons {
      position: absolute;
      top: 0.5 * $base-unit;
      right: $base-unit;
      margin-bottom: 0;
    }
    &__header {
      box-sizing: border-box;
      padding-right: 3 * $smaller-base-unit;
      width: 100%;
      border: none;
      font-family: inherit;
      font-size: 16px;
      font-weight: bold;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    &__list {
      margin: 0 #{-$base-unit};
    }
    &__markedList {
      padding-top: $base-unit;
      border-top: 1px solid rgba(0, 0, 0, 0.13);
      color: rgba(0, 0, 0, 0.46);
      font-size: 14px;
      font-weight: normal;
      vertical-align: middle;
      i {
        display: inline-block;
        width: $no-padding-icon-size;
        height: $no-padding-icon-size;
        line-height: $no-padding-icon-size;
        margin-left: 0.5 * $base-unit;
        margin-right: 0.25 * $base-unit;
        text-align: center;
        font-family: $icon-font-name;
        font-size: 10px;
        cursor: pointer;
      }
    }
    &__markedList &__list textarea {
      color: rgba(0, 0, 0, 0.3);
      text-decoration: line-through;
    }
    &__info {
      position: relative;
      height: 3 * $label-base-unit + 4px;
      line-height: 3 * $label-base-unit;
      vertical-align: middle;
    }
    &__creationTime {
      position: absolute;
      right: 0;
      text-align: right;
    }
    &__buttons {
      margin-bottom: 0;
      margin-left: -$base-unit / 2;
      > * {
        position: relative;
        margin-right: 1.3 * $base-unit;
      }
    }
    &__button {
      float: right;
      margin-right: 0;
    }
    > * {
      margin-bottom: 1.5 * $base-unit;
      &:last-child {
        margin-bottom: 0;
      }
    }
    & &__info {
      margin-bottom: $base-unit;
    }
  }

  .#{$class-name}-add {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 3 * $base-unit;
    cursor: text;

    &__input {
      height: 3 * $base-unit;
      margin: 0;
      background-color: transparent;
      font: inherit;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
    &__buttons {
      float: right;
      > * {
        margin-left: 5px;
      }
    }
  }
}

@mixin extendNoteStylesheet(
  $class-name: 'note',
  $modificator-name: 'modificator',
  // $base-unit: null,
  // $no-padding-icon-size: null,
  // $smaller-base-unit: null,
  // $icon-font-name: null,
  // $label-base-unit: null,
  $background-color: null,
  $border-color: null
) {
  .#{$class-name}_#{$modificator-name} {
    background-color: $background-color;
    &:not(.#{$class-name}_selected) {
      border-color: $border-color;
    }

    @content;
  }
}
