@import 'Note';
@import '@styles/variables';

@include noteStylesheet(
  $class-name: $noteClassName,
  $base-unit: $base-unit,
  $no-padding-icon-size: $no-padding-icon-size,
  $smaller-base-unit: $smaller-base-unit,
  $icon-font-name: $icon-font-name,
  $reminder-base-unit: $reminder-base-unit
);

@mixin addNoteStyle($style-name, $style-color) {
  @include extendNoteStylesheet(
    $class-name: $noteClassName,
    $modificator-name: 'style-#{$style-name}',
    $background-color: $style-color,
    $border-color: $style-color
  );
}

@include addNoteStyle('red', $color-red);
@include addNoteStyle('orange', $color-orange);
@include addNoteStyle('yellow', $color-yellow);
@include addNoteStyle('green', $color-green);
@include addNoteStyle('aquamarine', $color-aquamarine);
@include addNoteStyle('blue', $color-blue);
@include addNoteStyle('darkblue', $color-darkblue);
@include addNoteStyle('purple', $color-purple);
@include addNoteStyle('pink', $color-pink);
@include addNoteStyle('brown', $color-brown);
@include addNoteStyle('grey', $color-grey);
