@mixin iconedMenuItemStylesheet(
  $class-name: 'iconed-menu-item',
  $base-unit: 15px,
  $bigger-base-unit: 16px,
  $icon-font-name: IconFont,
  $selected-color: #bef2ff
) {
  .#{$class-name} {
    margin-left: -0.7 * $base-unit;
    line-height: 3 * $bigger-base-unit;
    color: rgba(0, 0, 0, 0.664);
    font-size: 14px;
    font-weight: bold;
    border-top-right-radius: 1.5 * $bigger-base-unit;
    border-bottom-right-radius: 1.5 * $bigger-base-unit;
    cursor: pointer;
    &:hover {
      background-color: rgba(231, 231, 231, 0.5);
    }
    // &:focus {
    //   border: 1px solid #555;
    // }
    &_selected,
    &_selected:hover {
      background-color: $selected-color;
    }
    &_selected &__icon {
      color: #000;
    }

    &__icon {
      display: inline-block;
      margin-left: 0.7 * $base-unit;
      margin-right: $bigger-base-unit;
      width: 3 * $bigger-base-unit;
      height: 3 * $bigger-base-unit;
      text-align: center;
      font-family: $icon-font-name;
      font-size: 20px;
      font-weight: normal;
    }
  }
}
