@mixin iconedMenuItemStylesheet(
  $class-name: 'iconed-menu-item',
  $base-unit: 15px,
  $bigger-base-unit: 16px,
  $icon-font-name: IconFont,
  $selected-color: #bef2ff
) {
  .#{$class-name} {
    font-size: 14px;
    font-weight: bold;

    &_selected,
    &_selected:hover {
      .#{$class-name}__link {
        background-color: $selected-color;
      }
    }
    &_selected &__icon {
      color: #000;
    }

    &__link {
      display: block;
      margin-left: -0.7 * $base-unit;

      line-height: 3 * $bigger-base-unit;
      color: rgba(0, 0, 0, 0.664);
      text-decoration: none;
      border: 1px solid transparent;
      outline: none;
      border-top-right-radius: 1.5 * $bigger-base-unit;
      border-bottom-right-radius: 1.5 * $bigger-base-unit;
      cursor: pointer;
      &:hover {
        background-color: rgba(231, 231, 231, 0.5);
      }
      &:focus {
        border-color: rgba(0, 0, 0, 0.668);
      }
    }
    &__icon {
      display: inline-block;
      margin-left: 0.7 * $base-unit;
      margin-right: $bigger-base-unit;
      width: 3 * $bigger-base-unit;
      height: 3 * $bigger-base-unit;
      text-align: center;
      font-family: $icon-font-name;
      font-size: 20px;
      font-weight: normal;
    }
  }
}
