@import '@styles/variables';

.color-button {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-left: 18px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 25px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #000;
  }
}

@mixin colorModificator($class-name, $color, $modificator-name: 'default') {
  .#{$class-name}_#{$modificator-name} {
    background-color: $color;
  }
}

@include colorModificator('color-button', transparent);
@include colorModificator('color-button', $color-red, 'red');
@include colorModificator('color-button', $color-orange, 'orange');
@include colorModificator('color-button', $color-yellow, 'yellow');
@include colorModificator('color-button', $color-green, 'green');
@include colorModificator('color-button', $color-aquamarine, 'aquamarine');
@include colorModificator('color-button', $color-blue, 'blue');
@include colorModificator('color-button', $color-darkblue, 'darkblue');
@include colorModificator('color-button', $color-purple, 'purple');
@include colorModificator('color-button', $color-pink, 'pink');
@include colorModificator('color-button', $color-brown, 'brown');
@include colorModificator('color-button', $color-grey, 'grey');
