.textarea {
  resize: none;
  overflow-y: hidden;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  max-height: 300px;
}
.note__header,
.textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-family: inherit;
  font-weight: bold;
  &:focus {
    outline: none;
  }
}
