@mixin textareaStylesheet($class-name: 'textarea') {
  .#{$class-name} {
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    max-height: 300px;
    line-height: 20px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}
