@mixin reminderStylesheet(
  $class-name: 'reminder',
  $base-unit: 7px,
  $icon-font-name: IconFont
) {
  .#{$class-name} {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 2px 1.3 * $base-unit;
    color: #444;
    font-size: 11px;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.078);
    border-radius: 21px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &_passed {
      opacity: 0.5;
    }
    &_focused {
      padding-right: 1.3 * $base-unit + 6px;
    }
    &_focused &__close {
      opacity: 1;
    }

    &__icon {
      margin-right: 7px;
      font-family: $icon-font-name;
      font-size: 2 * $base-unit;
      font-weight: normal;
    }
    &__close {
      opacity: 0;
      position: absolute;
      right: 0;
      border-top-right-radius: 21px;
      border-bottom-right-radius: 21px;
    }
    &__title {
      display: none;
      position: absolute;
      width: 100%;
    }
    &:hover &__title,
    &:focus &__title {
      display: block;
      &:hover {
        display: none;
      }
    }
    &__close:hover,
    &__close:focus {
      & ~ .#{$class-name}__title {
        display: none;
      }
    }
  }
}
