.iconed-menu-item {
  margin-left: -0.7 * $base-unit;
  line-height: 3 * $bigger-base-unit;
  color: #555;
  font-size: 14px;
  font-weight: bold;
  border-top-right-radius: 1.5 * $bigger-base-unit;
  border-bottom-right-radius: 1.5 * $bigger-base-unit;
  cursor: pointer;
  &:hover {
    background-color: rgba(231, 231, 231, 0.5);
  }
  // &:focus {
  //   border: 1px solid #555;
  // }
  &_selected {
    background-color: rgb(190, 242, 255);
    &:hover {
      background-color: rgb(190, 242, 255);
    }
  }
  &_selected &__icon {
    color: #000;
  }

  &__icon {
    display: inline-block;
    margin-left: 0.7 * $base-unit;
    margin-right: $bigger-base-unit;
    width: 3 * $bigger-base-unit;
    height: 3 * $bigger-base-unit;
    text-align: center;
    font-family: $icon-font-name;
    font-size: 20px;
    font-weight: normal;
  }
}
