@mixin containerStylesheet($class-name: 'container', $base-unit: 15px) {
  .#{$class-name} {
    width: 600px;
    margin: 0 auto;

    &__item {
      margin-top: 2 * $base-unit;
      padding: 0 $base-unit;
      border: 1px solid #ddd;
      border-radius: 10px;

      &:nth-child(n + 3) {
        margin-top: 0.5 * $base-unit;
      }
      &_focused {
        position: relative;
        left: -15%;
      }
      &_focused,
      &:hover {
        box-shadow: (0 1px 5px #ddd, inset 0 -1px 2px #bbb);
      }
      > * {
        position: relative;
        color: #888;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
