@mixin containerStylesheet($class-name: 'container', $base-unit: 15px) {
  .#{$class-name} {
    width: 600px;
    margin: 0 auto;

    &__group {
      margin-top: 2 * $base-unit;
      &-name {
        color: rgba(0, 0, 0, 0.7);
        line-height: 3em;
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;
        text-indent: 1.5em;
      }
    }

    &__item {
      width: 600px;
      margin-top: 0.5 * $base-unit;
    }
  }
}
