@mixin containerStylesheet(
  $class-name: 'container',
  $base-unit: 15px,
  $background-color: #fff,
  $border-color: rgba(0, 0, 0, 0.133)
) {
  .#{$class-name} {
    width: 600px;
    margin: 0 auto;

    &__item {
      width: 600px;
      margin-top: 2 * $base-unit;
      padding: 0 $base-unit;
      background-color: $background-color;
      border: 1px solid $border-color;
      border-radius: 10px;
      outline: none;

      &:nth-child(n + 3) {
        margin-top: 0.5 * $base-unit;
      }

      &_hidden {
        visibility: hidden;
      }
      &_modal {
        margin: 0 auto;
      }
      &_focused,
      &_modal,
      &:hover {
        box-shadow: (
          0 1px 5px rgba(0, 0, 0, 0.133),
          inset 0 -1px 2px rgba(0, 0, 0, 0.266)
        );
      }
      > * {
        position: relative;
        color: #888;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

@mixin extendContainerItemStylesheet(
  $class-name: 'container',
  $modificator-name: 'modificator',
  $background-color: null,
  $border-color: null
) {
  .#{$class-name}__item_#{$modificator-name} {
    background-color: $background-color;
    border-color: $border-color;

    @content;
  }
}
