@import 'components/IconButton/IconButton';

@include iconButtonStylesheet(
  $class-name: 'icon-button',
  $base-unit: $base-unit,
  $icon-font-name: $icon-font-name,
  $font-family: $font-family
);

@include extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'smaller',
  $base-unit: $smaller-base-unit,
  $icon-size: 14px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'tiny',
  $base-unit: $tiny-base-unit,
  $icon-size: 14px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'bigger',
  $base-unit: $bigger-base-unit,
  $icon-size: 21px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'no-padding',
  $base-unit: $smaller-base-unit,
  $icon-size: $no-padding-icon-size,
  $font-size: 12px,
  $no-padding: true,
  $hover-color: rgba(200, 200, 200, 0.5)
);

@include extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'notification',
  $base-unit: $notification-base-unit,
  $icon-size: 14px,
  $font-size: 12px,
  $hover-color: rgba(210, 210, 210, 0.5)
);
