@import '~reset-css';
@import 'variables';

@mixin font-face($name, $url, $weight: normal) {
  @font-face {
    font-family: $name;
    src: url($url);
    font-weight: $weight;
  }
}
@include font-face($font-name, $font-regular-url);
@include font-face($font-name, $font-bold-url, bold);
@include font-face($icon-font-name, $icon-font-url);

body {
  overflow-x: hidden;
  font-family: $font-family;
}

header {
  height: 3 * $bigger-base-unit + 1.5 * $base-unit;
}

aside {
  float: left;
  width: 280px;
}

main {
  margin-left: 280px;
}
