$font-name: MyFont;
$font-regular-url: '../assets/fonts/Roboto/Roboto-Regular.ttf';
$font-bold-url: '../assets/fonts/Roboto/Roboto-Medium.ttf';
$font-family: $font-name, serif;
$icon-font-name: IconFont;
$icon-font-url: '../assets/fonts/todo-icon-font/font/todo-icon-font.ttf';

$base-unit: 15px;
$smaller-base-unit: 11px;
$tiny-base-unit: 9px;
$bigger-base-unit: 16px;
$no-padding-icon-size: 22px;
$label-base-unit: 7px;

$addNoteClassName: 'addNote';
$asideClassName: 'aside';
$containerClassName: 'container';
$creationTimeClassName: 'creation-time';
$headerClassName: 'header';
$selectionBarClassName: 'selection-bar';
$iconButtonClassName: 'icon-button';
$listItemClassName: 'listItem';
$iconedMenuItemClassName: 'iconed-menu-item';
$noteClassName: 'note';
$labelClassName: 'label';
$popupMenuClassName: 'popup-menu';
$popupReminderClassName: 'popup-reminder';
$searchClassName: 'search';
$textareaClassName: 'textarea';
$titleClassName: 'title';

$color-red: #ff6c6c;
$color-orange: #ffbf00;
$color-yellow: #fff231;
$color-green: #caff31;
$color-aquamarine: #67ffe4;
$color-blue: #bef2ff;
$color-darkblue: #93b5ff;
$color-purple: #cda2ff;
$color-pink: #ffb5d5;
$color-brown: #ddb695;
$color-grey: #e2e5eb;

$theme-color: $color-blue;
