@mixin titleStylesheet(
  $class-name: 'title',
  $base-unit: 15px,
  $font-family: #{MyFont,
  serif}
) {
  .#{$class-name} {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 7px;
    line-height: 1.8 * $base-unit;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-family: $font-family;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
  }
}
