@mixin iconButtonStylesheet(
  $class-name: 'icon-button',
  $base-unit: 15px,
  $icon-font-name: null,
  $font-family: sans-serif,
  $icon-size: $base-unit,
  $font-size: 0.8 * $base-unit,
  $title-width: 5000%
) {
  .#{$class-name} {
    display: inline-block;
    padding: 0;
    width: 3 * $base-unit;
    height: 3 * $base-unit;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 2 * $base-unit;
    color: #888;
    font-family: $icon-font-name;
    font-size: $icon-size;
    overflow: visible; // IE
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: rgba(221, 221, 221, 0.5);

      .#{$class-name}__title {
        display: block;
        z-index: 10;
      }
    }
    &:focus {
      color: #000;
      border: 1px solid #bbb;

      .#{$class-name}__title {
        display: block;
      }
    }

    &__icon {
      vertical-align: top;
      line-height: 3 * $base-unit;
    }

    &__title {
      display: none;
      position: relative;
      top: 0;
      width: $title-width;
      line-height: 1.8 * $base-unit;
      right: $title-width / 2;
      z-index: 0;

      > * {
        display: inline-block;
        margin-right: -100% * (100% / $title-width);

        padding: 0 7px;
        color: #fff;
        font-family: $font-family;
        font-size: $font-size;
        white-space: nowrap;
        background-color: #555;
        border-radius: 3px;
      }
    }
    @content;
  }
}

@mixin extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'modificator',
  $base-unit: null,
  $icon-font-name: null,
  $font-family: null,
  $icon-size: $base-unit,
  $font-size: $base-unit,
  $title-width: null
) {
  @if $base-unit and $font-size == $base-unit {
    $font-size: 0.8 * $base-unit;
  }

  .#{$class-name}_#{$modificator-name} {
    @if $base-unit {
      width: 3 * $base-unit;
      height: 3 * $base-unit;
      border-radius: 2 * $base-unit;
    }
    font-family: $icon-font-name;
    font-size: $icon-size;

    .#{$class-name}__icon {
      @if $base-unit {
        line-height: 3 * $base-unit;
      }
    }

    .#{$class-name}__title {
      width: $title-width;
      @if $base-unit {
        line-height: 1.8 * $font-size;
      }
      @if $title-width {
        right: $title-width / 2;
      }

      > * {
        @if $title-width {
          margin-right: -100% * (100% / $title-width);
        }

        font-family: $font-family;
        font-size: $font-size;
      }
    }
    @content;
  }
}
