.header {
  padding: 0.5 * $base-unit 0.7 * $base-unit;
  line-height: 3 * $bigger-base-unit;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  &__logo {
    margin-right: 5 * $bigger-base-unit;
    line-height: inherit;
    color: #555;
    font-size: 1.5 * $bigger-base-unit;
    i {
      display: inline-block;
      width: 2 * $bigger-base-unit;
      height: 2 * $bigger-base-unit;
      margin-right: 0.8 * $bigger-base-unit;
      line-height: 2 * $bigger-base-unit;
      color: #fff;
      text-align: center;
      font-family: $icon-font-name;
      font-size: 1.2 * $bigger-base-unit;
      background-color: rgb(121, 228, 255);
      border-radius: 3px;
      border-bottom-right-radius: 12px;
    }
  }
  &__buttons {
    float: right;
    & *:nth-of-type(3) {
      margin-right: 2 * $bigger-base-unit;
    }
  }
}
