@mixin headerStylesheet(
  $class-name: 'header',
  $base-unit: 15px,
  $bigger-base-unit: 16px,
  $icon-font-name: IconFont,
  $logo-color: #bef2ff
) {
  .#{$class-name} {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    padding: 0.5 * $base-unit 0.7 * $base-unit;
    line-height: 3 * $bigger-base-unit;
    vertical-align: middle;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 10;
  }

  .pageNameWrapper {
    float: left;
  }

  .pageName {
    line-height: inherit;
    color: #555;
    font-size: 1.25 * $bigger-base-unit;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
    width: 2 * $bigger-base-unit;
    height: 2 * $bigger-base-unit;
    margin-right: 0.8 * $bigger-base-unit;
    line-height: 2 * $bigger-base-unit;
    color: #fff;
    text-align: center;
    font-family: $icon-font-name;
    font-size: 1.2 * $bigger-base-unit;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.15);
    background-color: $logo-color;
    background-image: linear-gradient(
      to top left,
      #fff 0%,
      #fff 13%,
      rgba(0, 0, 0, 0.07) 13%,
      rgba(0, 0, 0, 0.07) 20%,
      transparent 20%,
      transparent 100%
    );
    border-radius: 3px;
  }

  .buttons {
    float: right;
    & > *:nth-of-type(3) {
      margin-right: 2 * $bigger-base-unit;
    }
  }

  .search {
    margin-left: 15 * $bigger-base-unit;
    margin-right: 20 * $bigger-base-unit;
  }
}
