@mixin listItemStylesheet(
  $class-name: 'listItem',
  $base-unit: 15px,
  $tiny-base-unit: 9px,
  $icon-font-name: IconFont
) {
  .#{$class-name} {
    position: relative;
    background-color: #fff;

    &_nested {
      padding-left: 20px;
      .#{$class-name}__checkbox {
        left: 1.8 * $base-unit + 20px;
      }
    }
    &_dragging {
      margin-left: -10px;
      margin-right: -10px;
      box-shadow: (
        0 1px 5px rgba(0, 0, 0, 0.133),
        inset 0 -1px 2px rgba(0, 0, 0, 0.266)
      );
      .#{$class-name}__drag {
        display: inline;
      }
    }

    // dragging starting only when there is
    // a handle (&__drag) underneath
    &_hidden {
      transform: translate(-50px, -50px);
      height: 0;
      opacity: 0;
      z-index: 20;
      .#{$class-name}__drag {
        height: 100px;
        width: 100px;
      }
    }

    &__drag,
    &__add,
    &__checkbox {
      position: absolute;
      top: 8px;
      font-family: $icon-font-name;
      font-weight: normal;
    }
    &:hover &__drag {
      display: inline;
    }
    &__drag {
      display: none;
      left: 0.5 * $base-unit;
      color: rgba(0, 0, 0, 0.465);
      cursor: all-scroll;
    }
    &__add {
      left: 1.8 * $base-unit + 1px;
      color: rgba(0, 0, 0, 0.465);
      font-size: 14px;
    }
    &__checkbox {
      box-sizing: border-box;
      left: 1.8 * $base-unit;
      width: 14px;
      height: 14px;
      padding: 0;
      color: rgba(0, 0, 0, 0.465);
      font-size: 10px;
      background: transparent;
      outline: none;
      border: 2px solid rgba(0, 0, 0, 0.465);
      border-radius: 3px;
      cursor: pointer;
      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.664);
        border-color: rgba(0, 0, 0, 0.664);
      }
    }
    &:hover &__remove,
    &__text:focus ~ &__remove {
      display: inline;
    }
    &__remove {
      display: none;
      position: absolute;
      top: $tiny-base-unit / 3;
      right: $base-unit;
      color: rgba(0, 0, 0, 0.465);
    }
    &__text > * {
      min-height: 34px;
      padding: 6px 3.5 * $base-unit;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    &__text > *:focus,
    &__checkbox:focus ~ &__text > * {
      border-top-color: rgba(0, 0, 0, 0.133);
      border-bottom-color: rgba(0, 0, 0, 0.133);
    }
  }
}
