@mixin iconButtonStylesheet(
  $class-name: 'icon-button',
  $base-unit: 15px,
  $icon-font-name: null,
  $font-family: sans-serif,
  $icon-size: $base-unit,
  $font-size: 0.8 * $base-unit,
  $no-padding: false,
  $background-color: transparent,
  $hover-color: rgba(0, 0, 0, 0.066),
  $border-width: 1px,
  $border-color: transparent,
  $hover-border-color: null,
  $focused-border-color: rgba(0, 0, 0, 0.266)
) {
  .#{$class-name} {
    display: inline-block;
    padding: 0;
    @if not $no-padding {
      width: 3 * $base-unit;
      height: 3 * $base-unit;
    } @else {
      width: $icon-size - 3px;
      height: $icon-size - 3px;
    }
    text-align: center;
    vertical-align: middle;
    background-color: $background-color;
    outline: none;
    border: $border-width solid $border-color;
    border-radius: 2 * $base-unit;
    color: rgba(0, 0, 0, 0.5);
    font-family: $icon-font-name;
    font-size: $icon-size;
    font-weight: normal;
    overflow: visible; // IE
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: $hover-color;
      border-color: $hover-border-color;

      .#{$class-name}__title {
        display: block;
        &:hover,
        &:focus {
          display: none;
        }
      }
    }
    &:focus {
      color: #000;
      border-color: $focused-border-color;

      .#{$class-name}__title {
        display: block;
      }
    }
    &:disabled {
      color: rgba(0, 0, 0, 0.19);
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }

    &__icon {
      vertical-align: top;
      @if not $no-padding {
        line-height: 3 * $base-unit;
      } @else {
        line-height: $icon-size;
      }
    }

    &__title {
      display: none;
    }
    @content;
  }
}

@mixin extendIconButtonStylesheet(
  $class-name: 'icon-button',
  $modificator-name: 'modificator',
  $base-unit: null,
  $icon-font-name: null,
  $font-family: null,
  $icon-size: $base-unit,
  $font-size: $base-unit,
  $no-padding: false,
  $background-color: null,
  $hover-color: null,
  $border-width: null,
  $border-color: null,
  $hover-border-color: null,
  $focused-border-color: null
) {
  @if $base-unit and $font-size == $base-unit {
    $font-size: 0.8 * $base-unit;
  }
  @if $no-padding and not $icon-size {
    $icon-size: 12px;
  }

  .#{$class-name}_#{$modificator-name} {
    @if $base-unit {
      @if not $no-padding {
        width: 3 * $base-unit;
        height: 3 * $base-unit;
      } @else {
        width: $icon-size - 3px;
        height: $icon-size - 3px;
      }
      border-radius: 2 * $base-unit;
    }
    @if $no-padding {
      color: #000;
      &:focus {
        border-color: transparent;
      }
    }
    background-color: $background-color;
    border-width: $border-width;
    border-color: $border-color;
    font-family: $icon-font-name;
    font-size: $icon-size;

    &:hover {
      background-color: $hover-color;
      border-color: $hover-border-color;
    }

    &:focus {
      border-color: $focused-border-color;
    }

    .#{$class-name}__icon {
      @if $base-unit {
        line-height: 3 * $base-unit;
      }
      @if $no-padding {
        line-height: $icon-size;
      }
    }
    @content;
  }
}
