@import 'IconButton';
@import '@styles/variables';

@include iconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $base-unit: $base-unit,
  $icon-font-name: $icon-font-name,
  $font-family: $font-family
);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'smaller',
  $base-unit: $smaller-base-unit,
  $icon-size: 14px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'tiny',
  $base-unit: $tiny-base-unit,
  $icon-size: 14px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'bigger',
  $base-unit: $bigger-base-unit,
  $icon-size: 21px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'no-padding',
  $base-unit: $tiny-base-unit,
  $icon-size: $no-padding-icon-size,
  $font-size: 12px,
  $no-padding: true,
  $background-color: #fff
);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'label',
  $base-unit: $label-base-unit,
  $icon-size: 14px,
  $font-size: 12px
);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'colored',
  $base-unit: $tiny-base-unit,
  $icon-size: 14px,
  $font-size: 12px,
  $border-width: 2px,
  $border-color: #bbb,
  $hover-border-color: #000,
  $focused-border-color: #000
);

@mixin addIconButtonStyle($style-name, $style-color) {
  @include extendIconButtonStylesheet(
    $class-name: $iconButtonClassName,
    $modificator-name: 'style-#{$style-name}',
    $background-color: $style-color,
    $hover-color: $style-color,
    $border-color: $style-color
  );
}

@include addIconButtonStyle('red', $color-red);
@include addIconButtonStyle('orange', $color-orange);
@include addIconButtonStyle('yellow', $color-yellow);
@include addIconButtonStyle('green', $color-green);
@include addIconButtonStyle('aquamarine', $color-aquamarine);
@include addIconButtonStyle('blue', $color-blue);
@include addIconButtonStyle('darkblue', $color-darkblue);
@include addIconButtonStyle('purple', $color-purple);
@include addIconButtonStyle('pink', $color-pink);
@include addIconButtonStyle('brown', $color-brown);
@include addIconButtonStyle('grey', $color-grey);

@include extendIconButtonStylesheet(
  $class-name: $iconButtonClassName,
  $modificator-name: 'style-selection-bar',
  $icon-color: #2f70dd,
  $focused-icon-color: #2f70dd
);
